{{ if or .Params.artwork_subject .Params.artwork_style .Params.artwork_position .Params.artwork_client .Params.artwork_meaning }}
<section class="artwork-info my-10 border-t border-b border-current/15 py-6">
  <h2 class="mb-4 text-2xl font-bold">
    {{ i18n "artwork_information" }}
  </h2>

  <dl class="space-y-3">
    {{ with .Params.artwork_subject }}
      <div><dt class="inline font-bold">{{ i18n "artwork_subject" }}:</dt> <dd class="inline">{{ . }}</dd></div>
    {{ end }}

    {{ with .Params.artwork_style }}
      <div><dt class="inline font-bold">{{ i18n "artwork_style" }}:</dt> <dd class="inline">{{ . }}</dd></div>
    {{ end }}

    {{ with .Params.artwork_position }}
      <div><dt class="inline font-bold">{{ i18n "artwork_position" }}:</dt> <dd class="inline">{{ . }}</dd></div>
    {{ end }}

    {{ with .Params.artwork_client }}
      <div><dt class="inline font-bold">{{ i18n "artwork_client" }}:</dt> <dd class="inline">{{ . }}</dd></div>
    {{ end }}

    {{ with .Params.artwork_meaning }}
      <div><dt class="inline font-bold">{{ i18n "artwork_meaning" }}:</dt> <dd class="inline">{{ . }}</dd></div>
    {{ end }}

    <div><dt class="inline font-bold">{{ i18n "artwork_created_by" }}:</dt> <dd class="inline">Lan Pink Ink</dd></div>
    <div><dt class="inline font-bold">{{ i18n "artwork_location" }}:</dt> <dd class="inline">{{ i18n "artwork_location_value" }}</dd></div>
  </dl>
</section>
{{ end }}