<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "TattooParlor",
  "@id": "{{ .Site.BaseURL }}#lan-pink-tattoo",

  "name": "Lan Pink Tattoo",
  "alternateName": [
    "Lan Pink Ink",
    "LanPinkInk"
  ],

  "url": "{{ .Site.BaseURL }}",

  "description": "Private tattoo studio in Ho Chi Minh City specializing in fine line tattoo, mini tattoo, blackwork tattoo and custom tattoo design.",

  "image": "{{ .Site.BaseURL }}images/og/lan-pink-tattoo-og.jpg",

  "telephone": "+84703659902",

  "priceRange": "59.000₫ - 30.000.000₫",

  "hasMap": "https://maps.app.goo.gl/FWkCMzaZBN5G6rZJ9",

  "founder": {
    "@type": "Person",
    "@id": "{{ .Site.BaseURL }}#lan-pink",
    "name": "Lan Pink"
  },

  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Gần cầu vượt Tân Thới Hiệp",
    "addressLocality": "District 12",
    "addressRegion": "Ho Chi Minh City",
    "addressCountry": "VN"
  },

  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 10.8649425,
    "longitude": 106.6481805
  },

  "areaServed": [
    {
      "@type": "City",
      "name": "Ho Chi Minh City"
    },
    {
      "@type": "Place",
      "name": "District 12"
    },
    {
      "@type": "Place",
      "name": "Tan Thoi Hiep"
    }
  ],

  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+84703659902",
    "contactType": "customer service",
    "availableLanguage": [
      "Vietnamese",
      "English"
    ]
  },

  "sameAs": [
    "https://www.facebook.com/LanPinkInk",
    "https://www.instagram.com/lanpink.ink/",
    "https://maps.app.goo.gl/FWkCMzaZBN5G6rZJ9"
  ],

  "makesOffer": [
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Fine Line Tattoo"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Mini Tattoo"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Blackwork Tattoo"
      }
    },
    {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "name": "Custom Tattoo Design"
      }
    }
  ]
}
</script>